# ========================
# Flutter / Dart
# ========================
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-version
coverage/

# ========================
# Android
# ========================
android/.gradle/
android/local.properties
android/.idea/
android/captures/
android/.bundle/
android/vendor/
*.apk
*.aab
*.keystore
*.jks
key.properties
pubspec.lock
# ========================
# iOS
# ========================
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/Generated.xcworkspace
ios/.idea/
ios/Runner.xcworkspace
ios/DerivedData/

# ========================
# Fastlane
# ========================
android/fastlane/report.xml
android/fastlane/Preview.html
android/fastlane/screenshots
android/fastlane/test_output
ios/fastlane/report.xml
ios/fastlane/screenshots
ios/fastlane/test_output

# ========================
# Environment & Secrets
# ========================
.env
.env.*
*.pem
*.p12
*.key
*.json

# ========================
# Firebase / Google
# ========================
google-services.json
GoogleService-Info.plist

# ========================
# Docs / Legal
# ========================
docs/

# ========================
# IDEs
# ========================
.idea/
.vscode/
*.iml

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
